@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes openBox {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1); 
        opacity: 1;
    }
}

.openBox{
    animation: openBox 1s ease-in-out forwards;
    transform-origin: top;
    overflow: hidden;
}


@keyframes fadeUp {
    0% {
        opacity: '0';
        transform: translateY(-100%);
    }
    100% {
        opacity: '1';
        transform: translateY(0);
    }
  }
  
  .fadeUp {
    animation: fadeUp 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
  }


@keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slide-right {
    animation: slide-right .5s ease-in-out;
  }
  