@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes openBox {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1); 
        opacity: 1;
    }
}

.openBox{
    animation: openBox 1s ease-in-out forwards;
    transform-origin: top;
    overflow: hidden;
}

@keyframes showContent {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}  

  .showContent{
    opacity: 0;
    animation: showContent 1s ease-in-out forwards;
  }

.showContent:nth-child(1) {
    animation-delay: 1.2s; /* Delays after the box opens */
}

.showContent:nth-child(2) {
    animation-delay: 1.8s;
}

@keyframes downToUpContent {
  0% {
      opacity: 0;
      transform: translateY(30px);
      
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}  

.downToUpContent{
  opacity: 0;
  animation: downToUpContent 1s ease-in-out forwards;
}
.downToUpContent:nth-child(3) {
  animation-delay: 2s;
}



@keyframes slide-right {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slide-right {
    animation: slide-right .5s ease-in-out;
    animation-delay: 700ms;
  }
  